<!DOCTYPE html>
<html>
  <head>
    <title>SkillBranch - Задача 2A: A + B</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Задача 2A: A + B</h1>
    <p>Вывод: <%= sum %></p>
  </body>
</html>
